@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caesar+Dressing&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override dafault stlyes added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    min-height: 100vh;
    background-color: #1f1f1f;
    color: #cfcfcf;
}

header {
    background-color: #303030;
    position: fixed;
    z-index: 99;
    padding: 1rem 1rem;
    width: 100%;
    border-bottom: 2px solid #1d1c1d;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #08daff;
}

#logo {
    font-family: 'Caesar Dressing', sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.97);
    text-align: center;
    padding-right: 40%;
    margin-left: 40%;
    border-bottom: 2px solid #1d1c1d;
    border-left: 2px solid #1d1c1d;
    box-shadow: 0 2px 2px #1d1c1d;
    display: none;
    top: 100%;
}

.fa-bars {
    color: #08daff;
}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    list-style-type: none;
    font-size: 150%;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px dotted #08daff;
}

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

main {
    flex: 1 0 auto;
    margin-top: 110px;
}

main h1 {
    font-family: 'Raleway', sans-serif;
}

#hero-img {
    width: 100%;
}

/* Media query for tablets and larger screens(768px and up) */

@media screen and (min-width: 768px) {
    /* header */

    header {
        font-size: 100%;
        display: flex;
    }

    nav {
        display: flex;
        justify-content: space-around;
        position: relative;
        box-shadow: none;
        width: fit-content;
        border: none;
        padding-right: 1rem;
        font-size: 100%;
        margin: 0%;
    }

    #logo {
        font-size: 260%;
        padding-top: 12px;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1em;
    }
    
    .nav-toggle-label {
        display: none;
    }

    main {
        margin-top: 165px;
    }
}