@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Caesar+Dressing&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Asterisk wildcard selector to override dafault stlyes added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Barlow', sans-serif;
    min-height: 100vh;
    background-color: #1f1f1f;
    color: #cfcfcf;
}

header {
    background-color: #303030;
    position: fixed;
    z-index: 99;
    padding: 1rem 1rem;
    width: 100%;
    border-bottom: 2px solid #1d1c1d;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #08daff;
}

#logo {
    font-family: 'Caesar Dressing', sans-serif;
}

nav {
    position: absolute;
    width: 100%;
    background-color: rgba(48, 48, 48, 0.97);
    text-align: center;
    padding-right: 40%;
    margin-left: 40%;
    border-bottom: 2px solid #1d1c1d;
    border-left: 2px solid #1d1c1d;
    box-shadow: 0 2px 2px #1d1c1d;
    display: none;
    top: 100%;
}

/* Toggle Button */
.fa-bars {
    color: #08daff;
}

.nav-toggle-label {
    font-size: 2rem;
}

/* Nav Menu */
#menu {
    list-style-type: none;
    font-size: 150%;
}

#menu>li {
    margin-bottom: 1em;
}

/* Located at Nav */
.active {
    border-bottom: 1px dotted #08daff;
}

/* For mobile screens to hide nav menu */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

/* Main */
main {
    padding: 0 1.5rem;
    flex: 1 0 auto;
    margin-top: 110px;
}

/* Heading */
main h1 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 220%;
    font-weight: 550;
    padding-right: 8%;
    margin-bottom: 15px;
}

main hr {
    border: 1px solid #545050;
}

/* Sub-heading */
#cover-text h3 {
    font-weight: 400;
    text-align: left;
    padding: 1em 5% 5%;
}

/* Hero Image */
#hero-img {
    width: 100%;
}

/* |'Show Us' Section| */
#show-us {
    padding: 1em;
    border: 1px solid #cfcfcf;
    background-color: #303030;
    margin: 2rem 0;
}

/* First div  of the 'Show Us' section*/
#arts {
    margin-bottom: 1em;
}

#arts>h2 {
    font-weight: 500;
    margin-bottom: 0.7em;
}

#arts-p {
    margin-bottom: 1em;
}

/* Later three divs of the 'Show Us' section */
#melody,
#dance,
#skills {
    margin-bottom: 0.8em;
}

#melody>h4,
#dance>h4,
#skills>h4 {
    margin-bottom: 0.8em;
}

/* 'Show Us' Icons */
#show-us i {
    color: #08daff;
}

/* |'Competition' Section| */
#competition {
    border: 1px solid #303030;
    background-color: #cfcfcf;
    color: #1f1f1f;
    padding: 1em;
}

/* |Locations part| */
#locations {
    margin-bottom: 2em;
}

#locations h2 {
    padding-bottom: 0.5em;
}

/* 'Competition' section- 1st, 2nd & 3rd divs */
#dublin,
#galway,
#limerick {
    padding: 0.5em 0;
}

#dublin>p,
#galway>p,
#limerick>p {
    font-size: 110%;
    font-weight: 450;
}

/* |Prizes part| */
#prizes h2 {
    padding-bottom: 0.5em;
}

#prize-list {
    padding-top: 0.5em;
    font-size: 110%;
    font-weight: 450;
    text-align: start;
}

#prize-list>li {
    list-style-type: none;
}

/* |Footer| */
footer {
    background-color: #303030;
    margin-top: 2rem;
}

#socials {
    text-align: center;
    padding: 1em 1em;
    display: flex;
    justify-content: space-evenly;
}

#socials>li {
    list-style-type: none;
}

/* Footer Icons */
#socials i {
    font-size: 180%;
    color: #08daff;
}


/* Media query for larger screens(490px and up) */
@media screen and (min-width: 490px) {

    nav {
        margin-left: 60%;
        padding-right: 60%;
    }

    /* Changing how #hero section looks */
    #hero-img {
        display: none;
    }

    #hero {
        background: url(../images/StockCake-Singer-in-Concert_1728034392.jpg) no-repeat center / cover;
        height: 500px;
        width: 100%;
        position: relative;
    }

    #cover-text {
        background-color: rgba(48, 48, 48, 0.80);
        color: rgb(235, 233, 239);
        width: 70%;
        padding-top: 1em;
        padding-left: 1em;
        position: absolute;
        bottom: 100px;
    }

    /* Competition section */
    #prizes {
        text-align: end;
    }

    #prize-list {
        text-align: end;
    }
}

/* Media query for tablets and larger screens(768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        font-size: 100%;
        display: flex;
    }

    nav {
        display: flex;
        justify-content: space-around;
        position: relative;
        box-shadow: none;
        width: fit-content;
        border: none;
        padding-right: 1rem;
        font-size: 100%;
        margin: 0%;
    }

    #logo {
        font-size: 250%;
        padding-top: 12px;
    }

    /* Nav menu */
    #menu {
        display: flex;
        padding-bottom: 10px;
    }

    #menu>li {
        padding-left: 1em;
    }

    /* Nav toggle button */
    .nav-toggle-label {
        display: none;
    }

    /* Main */
    main {
        margin-top: 165px;
        font-size: 120%;
    }

    /* Competition section */
    #locations,
    #prizes {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #locations>div,
    #prizes>div {
        width: 75%;
    }

    #prizes>div {
        text-align: end;
        align-self: flex-end;
    }
}

/* Media query for larger screens like laptops (992px and up) */
@media screen and (min-width: 992px) {

    #logo {
        font-size: 280%;
        padding-top: 12px;
    }

    #menu a:hover {
        border-bottom: 1px dotted #08daff;
    }

    #hero {
        font-size: 120%;
    }

    #show-us, #competition {
        font-size: 120%;
        padding: 2rem 3rem;
    }

    main {
        margin-top: 180px;
    }
}

/* Media query for larger screens than laptops (1200px and up) */
@media screen and (min-width: 1200px) {

    #hero {
        height: 800px;
        width: 100%;
        position: relative;
    }
}